@import url("https://fonts.googleapis.com/css?family=Cinzel:400,700|Montserrat:400,700|Noto+Sans:400,700&display=swap");

.login {
  font-family: "Montserrat";
  .centering {
    margin: 0px auto;
  }

  .box {
    width: 20%;
  }

  .registerButton {
    background-color: white;
  }
}

.mobileView {
  width: 375px;
  font-family: "Montserrat";
}

.calendarCell {
  height: 40px;
  width: 40px;
  font-size: 10px;
}

table {
  margin: 0px auto;
}

.Calendar {
  .button {
    width: 90px;
    font-size: 12px;
  }
}

.today {
  background-color: orange !important;
}

.invitationCard {
  font-size: 10px;
  a {
    font-size: 10px;
  }
}

.calendarDetail {
  width: 280px;
  height: 200px;
  margin: 0px auto;
  overflow: scroll;
}

.eventDetail {
  font-size: 8px;
}

.todayButton {
  height: 20px;
  width: 50px;
  font-size: 10px;
}

.fotoProfil {
  .marginLeft {
    height: 50px;
    width: 50px;
    margin-left: 2rem;
  }
  img {
    height: 30px;
    width: 30px;
  }
}

.footer {
  img {
    height: 30px;
    width: 30px;
  }
}

.profileImage {
  height: 100px;
  width: 100px;
}

.optionMonth {
  width: 120px !important;
}

.fotoProfil {
  .plain {
    text-decoration: none;
    color: black;
  }
}

.avatar {
  width: 25px;
  height: 25px;
}

.centering {
  margin: 0px auto;
}

.inviteButton {
  width: 15px;
  height: 15px;
}

.searchFriends {
  width: 26px;
  height: 26px;
}

.participant {
  height: 400px;
  overflow: scroll;
}

.checked,
.cross {
  width: 40px;
  height: 40px;
}

.home-evant {
  color: black;
  font-weight: bold;
  font-family: "Montserrat";
}

.login-button {
  font-family: "Montserrat";
  background-color: black;
  color: white;
}

.register-text {
  color: black;
  text-decoration: none;
}

.register {
  font-family: "Montserrat";
}

.register-button {
  background-color: black;
  color: white;
}

.register-evant {
  font-weight: bold;
  color: black;
}

.invitedBox {
  height: 300px;
  overflow: scroll;
}

.venue {
  width: 200px;
}

.places {
  height: 300px;
  overflow: scroll;
}
.change-pass-button {
  background-color: black;
  color: white;
}

// css transition
.display-enter {
  opacity: 0;
}
.display-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.display-exit {
  opacity: 1;
}
.display-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.header-style {
  /* -webkit-box-shadow: -5px 5px 14px -2px rgba(164, 222, 243, 0.73);
  -moz-box-shadow: -5px 5px 14px -2px rgba(164, 222, 243, 0.73);
  box-shadow: -5px 5px 14px -2px rgba(164, 222, 243, 0.73); */
}

.header-style h4 {
  font-family: "Roboto", sans-serif;
}

.size-select {
  width: 1000px;
}

select.form-control:not([size]):not([multiple]) {
  height: 25px;
}
.suggestion {
  width: 200px;
}
.h-50 {
  height: 50px !important;
}
