.login .centering {
  margin: 0px auto;
}
.login .box {
  width: 20%;
}
.login .registerButton {
  background-color: white;
}
.mobileView {
  width: 375px;
}
.calendarCell {
  height: 40px;
  width: 40px;
  font-size: 10px;
}
table {
  margin: 0px auto;
}
.Calendar .button {
  width: 90px;
  font-size: 12px;
}
.today {
  background-color: orange !important;
}
.invitationCard {
  font-size: 10px;
}
.invitationCard a {
  font-size: 10px;
}
.calendarDetail {
  width: 280px;
  height: 200px;
  margin: 0px auto;
  overflow: scroll;
}
.eventDetail {
  font-size: 8px;
}
.todayButton {
  height: 20px;
  width: 50px;
  font-size: 10px;
}
.fotoProfil img {
  height: 50px;
  width: 50px;
}
.footer img {
  height: 30px;
  width: 30px;
}
.profileImage {
  height: 100px;
  width: 100px;
}
