@import url("https://fonts.googleapis.com/css?family=Cinzel:400,700|Montserrat:400,700|Noto+Sans:400,700&display=swap");
.login {
  font-family: "Montserrat";
}
.login .centering {
  margin: 0px auto;
}
.login .box {
  width: 20%;
}
.login .registerButton {
  background-color: white;
}
.mobileView {
  width: 375px;
  font-family: "Montserrat";
  overflow: hidden;
}
.calendarCell {
  height: 40px;
  width: 40px;
  font-size: 10px;
}
table {
  margin: 0px auto;
}
.Calendar .button {
  width: 90px;
  font-size: 12px;
}
.today {
  background-color: orange !important;
}
.Invitations {
  font-family: "Montserrat";
}
.invitationCard {
  font-size: 1em;
}
.invitationCard a {
  font-size: 10px;
}
.calendarDetail {
  width: 280px;
  margin: 0px auto;
}
.eventDetail {
  font-size: 13px;
}
.eventDetailButton {
  background-color: black;
  color: white;
}
.todayButton {
  height: 20px;
  width: 50px;
  font-size: 10px;
}
.fotoProfil .marginLeft {
  height: 50px;
  width: 50px;
  margin-left: 2rem;
}
.fotoProfil img {
  height: 30px;
  width: 30px;
}
.footer {
  position: fixed;
  bottom: 0;
}
.footer img {
  height: 30px;
  width: 30px;
}
.profileImage {
  height: 100px;
  width: 100px;
}
.optionMonth {
  width: 120px !important;
}
.fotoProfil .plain {
  text-decoration: none;
  color: black;
}
.avatar {
  width: 25px;
  height: 25px;
}
.centering {
  margin: 0px auto;
}
.inviteButton {
  width: 15px;
  height: 15px;
}
.searchFriends {
  width: 26px;
  height: 26px;
}
.checked,
.cross {
  width: 40px;
  height: 40px;
}
.home-evant {
  color: black;
  font-weight: bold;
  font-family: "Montserrat";
}
.login-button {
  font-family: "Montserrat";
  background-color: black;
  color: white;
}
.register-text {
  color: black;
  text-decoration: none;
}
.register {
  font-family: "Montserrat";
}
.register-button {
  background-color: black;
  color: white;
}
.register-evant {
  font-weight: bold;
  color: black;
}
.venue {
  width: 200px;
}
.places {
  height: 300px;
  overflow: scroll;
}
.change-pass-button {
  background-color: black;
  color: white;
}
.display-enter {
  opacity: 0;
}
.display-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.display-exit {
  opacity: 1;
}
.display-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
.edit-header {
  height: 100px;
}
.header-style {
  /* -webkit-box-shadow: -5px 5px 14px -2px rgba(164, 222, 243, 0.73);
  -moz-box-shadow: -5px 5px 14px -2px rgba(164, 222, 243, 0.73);
  box-shadow: -5px 5px 14px -2px rgba(164, 222, 243, 0.73); */
  height: 100px;
}
.header-style h4 {
  font-family: "Roboto", sans-serif;
  height: 100px;
}
.header {
  height: 100px;
  background-color: #a7cdcc;
}
.size-select {
  width: 1000px;
}
select.form-control:not([size]):not([multiple]) {
  height: 34px;
}
.suggestion {
  width: 200px;
}
.h-50 {
  height: 50px !important;
}
.todayMark {
  width: 50px;
  font-size: 12px;
}
.markedTitle {
  font-size: 15px;
}
.mbForFooter {
  margin-bottom: 150px;
}
.position {
  height: 100vh;
}
.calendarCell p {
  font-size: 15px !important;
}
.search-user input {
  height: 40px;
}